* {
    margin: 0%;
    padding: 0%;
}

#para {
    color: rgb(24, 119, 242);
    margin-top: 34vh;
    font-size: 5rem;
    font-weight: bold;
    margin-left: 19vw;
}

p {
    margin-left: 19vw;
    font-size: 2rem;
}

.login {
    height: 28rem;
    width: 37rem;
    border: 3px solid black;
    position: absolute;
    left: 50rem;
    bottom: 7rem;
    display: flex;
    justify-content: center;
    border-radius: 10px;

}

.textt {
    height: 2.5rem;
    width: 32rem;
    margin-left: 40px;
    margin-top: 20px;
    border-radius: 8px;
    padding: 7px;
    font-size: 22px;
}

.textt1 {
    height: 2.5rem;
    width: 32rem;
    margin-top: 20px;
    margin-left: 40px;
    border-radius: 8px;
    padding: 7px;
    font-size: 22px;
}

.btn {
    background-color: #1877F2;
    height: 3rem;
    width: 515px;
    margin-left: 41px;
    margin-top: 20px;
    font-size: 2rem;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    border: none;
}

.mobileScreen{
    display: none;
}

.frgt {
    font-size: 20px;
    position: relative;
    right: 5rem;
    margin-top: 20px;
    color: #1877F2;
    margin-bottom: 10px;
}

.form {
    display: none;
}

.frgt a {
    text-decoration: none;
}

.heading1 h2 {
    display: none;
}

.btnnew button {
    position: absolute;
    background-color: #43B72B;
    top: 19rem;
    right: 11rem;
    height: 3.5rem;
    width: 16rem;
    color: white;
    font-weight: bold;
    font-size: 1.4rem;
    border-radius: 17px;
    border: none;
}

.btnnew button:hover {
    background-color: #309525;

}

.btn:hover {
    background-color: #1462c9;
}

.txt11 {
    display: none;
}

@media screen and (max-width:1432px) {
    #para {
        display: none;
    }

    p {
        display: none;
    }

    form {
        display: none;
    }

    .login {
        display: none;
    }

    .txt11 {
        line-height: 3rem;
        font-size: 1rem;
        color: #3984e7;
        display: block;
        font-family: Helvetica, Arial, sans-serif;
    }

    .banner {
        background-color: #fbfbc6;
        display: block;
    }

    .heading1 h2 {
        display: block;
        font-size: 2rem;
        font-family: Helvetica, Arial, sans-serif;
        color: #3984e7;
        font-weight: bolder;
    }

    .heading1 {
        margin-top: 8px;
    }

    .form {
        display: block;
    }

    .box {
        width: 18rem;
        height: 2.2rem;
        margin-top: 10px;
        border: 0.1px solid rgb(198, 190, 190);
        padding-left: 1rem;
        background: rgba(233, 229, 229, 0.298);
    }

    #logIn {
        width: 19rem;
        height: 2rem;
        background-color: #1877F2;
        color: white;
        border: none;
        margin-top: 10px;
    }

    #logIn:hover {
        background-color: #1c69cd;
    }

    .forPass {
        color: #1877F2;
        font-family: Arial, Helvetica, sans-serif;
    }

    .or {
        font-size: 1.3rem;
        margin-right: 1rem;
    }

    .line1 {
        height: 1px;
        width: 40%;
        background: gray;
        margin-right: 1rem;
    }

    .line2 {
        margin-left: 1rem;
        height: 1px;
        width: 40%;
        background: gray;
    }

    .cAcc {
        padding: .5rem;
        border: none;
        background-color: #2bbf2b;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
    }

    .mobileScreen {
        display: block;
    }

    .lang{
        justify-content: space-evenly;
        margin-top: 10rem;
    }

    .lang1{
        color: #1462c9;
    }

    .lang2{
        color: #1462c9;
    }

    .footer{
        font-family: Arial, Helvetica, sans-serif;
    }
}